<!DOCTYPE html>
<html lang="en">
<%- include partials/header.ejs %> 
<body>
  <%- include partials/main_nav.ejs %> 

  <!--Main index content-->
    <main class="container">
        <div class="jumbotron">
            <div style="width: 100%; overflow: hidden;">
                <div class="vertical-center">
                    <div class="left" style=" text-align: center;">
                        <div >
                        <br>
                            <h3> About me: </h3>
                            <div>
                                <img src="Assets\images\20220607_142236.jpg" alt="pedro_huerta" height="300" class="centered display-4" >
                            </div>
                            <br>
                            <p> My name's Pedro Huerta and I'm 20 years old, currently I'm enrolled on my third semester in Cenntennial college. <br>
                            During which I'm studying Ai & Software Enginering Techonology. It's been 1 year since I came to Canada <br>
                            for my education. I am from Mexico and enjoy living in Canada, I also work part time and live in a house for students.<br>
                            I've been studying code during a lot of time and enjoy learning new languages and algrithms.<br>
                            My latest projects include a couple websites and a small start-up.</p>
                            <div class="display-5">
                                <a href="Assets\images\Pedro Huerta_Resume.pdf"><button type="button" class="btn btn-primary btn-sm">Resume!</button></a>
                                <p> &nbsp;&nbsp;  Click here to see my resume!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

  <%- include partials/bottom_nav.ejs %> 

  <%- include partials/scripts.ejs %> 
</body>
</html>