<!DOCTYPE html>
<html lang="en">
<%- include partials/header.ejs %> 
<body>
  <%- include partials/main_nav.ejs %> 

  <!--Main index content-->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <div class="header"><h1>FCS Tournament Bracket</h1></div>
        <div class="bracket-container">

          <div class="bracket-level">
            <div class="bracket-matchup">
              <div class="bracket-team winner">
                <div class="bracket-name">New Hampshire</div><div class="bracket-score">35</div>
              </div>
              <div class="bracket-team loser">
                <div class="bracket-name">Chattanooga</div><div class="bracket-score">30</div>
              </div>
            </div>
            <div class="bracket-matchup">
              <div class="bracket-team winner">
                <div class="bracket-name">Illinois State</div><div class="bracket-score">59</div>
              </div>
              <div class="bracket-team loser">
                <div class="bracket-name">Eastern Washington</div><div class="bracket-score">46</div>
              </div>
            </div>
          </div>
          <div class="bracket-level">
            <div class="bracket-matchup">
              <div class="bracket-team">
                <div class="bracket-name">New Hampshire</div><div class="bracket-score">--</div>
              </div>
              <div class="bracket-team">
                <div class="bracket-name">Illinois State</div><div class="bracket-score">--</div>
              </div>
            </div>
          </div>
          <div class="bracket-level">
            <div class="bracket-matchup">
              <div class="bracket-team">
                <div class="bracket-name"></div>
                <div class="bracket-score"></div>
              </div>
              <div class="bracket-team">
                <div class="bracket-name">North Dakota State</div>
                <div class="bracket-score">--</div>
              </div>
            </div>
          </div>
          <div class="bracket-level">
            <div class="bracket-matchup">
              <div class="bracket-team loser">
                <div class="bracket-score">3</div><div class="bracket-name">Sam Houston State</div>
              </div>
              <div class="bracket-team winner">
                <div class="bracket-score">35</div><div class="bracket-name">North Dakota State</div>
              </div>
            </div>
          </div>
          <div class="bracket-level">
            <div class="bracket-matchup">
              <div class="bracket-team winner">
                <div class="bracket-score">34</div><div class="bracket-name">Sam Houston State</div>
              </div>
              <div class="bracket-team loser">
                <div class="bracket-score">31</div><div class="bracket-name">Villanova</div>
              </div>
            </div>
            <div class="bracket-matchup">
              <div class="bracket-team loser">
                <div class="bracket-score">32</div><div class="bracket-name">Coastal Carolina</div>
              </div>
              <div class="bracket-team winner">
                <div class="bracket-score">39</div><div class="bracket-name">North Dakota State</div>
              </div>
            </div>
          </div>
          
              </
    </div>
  </main>

  <%- include partials/bottom_nav.ejs %> 

  <%- include partials/scripts.ejs %> 
</body>
</html>
