<!DOCTYPE html>
<html lang="en">
<%- include partials/header.ejs %> 
<body>
  <%- include partials/main_nav.ejs %> 

  <!--Main projects content-->
  <main class="container">
    <div class="left" style=" text-align: center;">
      <p><b>Calculator:</b><br></p>
      <p>I designed a tax calculating software to help people do their taxes on a more efficient way.</p>
      <br>
      <div>
        <img src="Assets\images\tax.jpg" alt="player" height="200"  >
      </div>
      <br>
      <p><b>Weather development:</b><br></p>
      <p>I programmed an app capable of asking the weather forecast of a given city and provide it to the user.</p>
      <br>
      <div>
        <img src="Assets\images\weather.jpg" alt="player" height="200"  >
      </div>
      <br>
      <p><b>BMR Calculator Website:</b><br></p>
      <p>Finally, I made a calculator to measure the BMR of an individual based on the estimations provided by the user.</p>
      <br>
      <div>
        <img src="Assets\images\bmr.jpg" alt="player" height="200"  >
      </div>
      <br>
    </div>
  </main>

  <%- include partials/bottom_nav.ejs %> 

  <%- include partials/scripts.ejs %> 
</body>
</html>
