<!DOCTYPE html>
<html lang="en">
<%- include partials/header.ejs %> 
<body>
  <%- include partials/main_nav.ejs %> 

  <!--Main services content-->
  <main class="container">
    <div class="jumbotron">
      <div overflow: hidden;>
        <div class="vertical-center">
            <div >
              <h1 class="display-4">Some of the programming languages I'm familiar with:</h1>
              <br>
              <ul class="display-5"> 
              <li>Javascript
              <li>Html
              <li>Java
              <li>Python
              <li>CSS
              <ul>
            </div>
        </div>
      </div>
      
    </div>
  </main>

  <%- include partials/bottom_nav.ejs %> 

  <%- include partials/scripts.ejs %> 
</body>
</html>
