<% include ../partials/header.ejs %>
  <div class="login-page">
    <form method="post" class="login-form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <br><br>
      <label for="password">Password:</label>
      <input type="text" id="password" name="password">
      <br><br>
      <button id="login-button" type="submit">Login</button>
    </form>
  </div>
<% include ../partials/footer.ejs %>